/* Fondo general con la imagen */
.login-background {
  background-image: url('../assest/imagen 4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;     /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
}

/* Izquierda: login */
.login-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Caja blanca del login */
.login-box {
  z-index: 2;
  width: 90%;
  height: 80%;
  max-width: 420px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
}

/* Blur ligeramente más grande */
.login-blur-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;  /* 2% más ancho que login-box */
  height: 110%; /* 2% más alto que login-box */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  z-index: 1;
}

h1{
  font-family: sans-serif;
  font-style: normal;
  font-size: 40px;
  color: rgb(10, 62, 118);
}
